.main-container{
    background-color: rgb(255, 255, 255);
    height: 105vh;
    width: 100vw;
}

.main-footer{
    height: 6.5vh;
    width: 100vw;
    background-color: #0718c4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 300px;
    height: 300px;
    margin-top: -80px;
}

.inner-main{
    position: absolute;
    background-color: red;
    width: 100vw;
    height: 80vh;
    bottom: 7%;
}