.chat-window{
    width: 85%;
    height: 75%;
}

.input-area{
    margin-top: 2%;
    width: 85%;
    height: 15%;
    justify-content: center;
    align-items: center;
    gap: .5%;
}

.sent-msg{
    border-radius: 10px;
    padding: 0.7%;
}