.chat-window{
    width: 85%;
    height: 75%;
    background-color: black;
}

.input-area{
    margin-top: 2%;
    width: 85%;
    height: 15%;
    justify-content: center;
    align-items: center;
    gap: .5%;
}